html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #e5e5e5;
  --color-aditional: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: var(--color-aditional);
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--title-text-color);
}
header {
  min-height: 80px;
  background: var(--color-aditional);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* .container-header {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
} */
.logo {
  text-decoration-line: none;
  color: var(--title-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid var(--accent-color);
}

.main-nav {
  display: flex;
  align-items: center;
}
.site-nav-container {
  margin-left: 85px;
}
.site-nav {
  padding: 0;
  margin: 0;
  display: flex;
}
.site-nav.link {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration-line: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.site-nav:hover,
.site-nav:focus {
  color: var(--accent-color);
}
.site-nav li {
  margin-right: 50px;
}
.site-nav li:last-child {
  margin-right: 0;
}
/*  */
/*  auth-site*/
/*  */
.auth-site-container {
  margin-left: 300px;
  list-style: none;
}
.auth-site {
  display: flex;
  margin: 0;
  padding: 0;
}
.auth-site .item {
  margin-right: 30px;
}
.auth-site .item:not(:last child) {
  margin-right: 30px;
}

.auth-site .link {
  text-decoration-line: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.auth-site .link:hover {
  color: var(--accent-color);
}

.envelop-icon {
  width: 16px;
  height: 11.2px;
  --color2: var(--primary-text-color);
}
.envelop-icon:hover {
  --color2: var(--accent-color);
}
.telefon-icon {
  width: 10px;
  height: 15px;
}
.telefon-icon:hover {
  --color4: var(--accent-color);
}
.tel-env {
  margin-right: 10px;
}
.tel-env:hover {
  --color4: var(--accent-color);
}

/*  */
/*  */
/* Герой */
/*  */

.hiro {
  background-image: url(../image/hiropic.jpg);

  height: 600px;
  text-align: center;
  padding: 94px;
}
.container.hero {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid var(--accent-color);
}
.hero-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-aditional);
  margin-bottom: 46px;
  padding-top: 200px;
}
/*  */
/* Внимание к деталям */
/*  */

.attention-svg:hover {
  fill: var(--accent-color);
}
.attention-svg:hover {
  border-color: var(--accent-color);
}
/* .baton:hover {
  outline: 1px solid gray; */

.attention-section {
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.attention-list {
  display: flex;
  margin: 0;
  padding: 0;
}
.attention-item {
  width: 270px;
  margin-right: 30px;
  outline: 1px solid grey;
}
.attention-item:last-child {
  margin-right: 0;
}

.attention-item:nth-child(1):before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  border: 2px solid grey;
  border-radius: 1px solid grey;
  background-image: url("../svg/antene.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.attention-item:nth-child(2):before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  border: 2px solid grey;
  border-radius: 1px solid grey;
  background-image: url("../svg/clock1.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.attention-item:nth-child(3)::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  border: 2px solid grey;
  border-radius: 2px;
  background-image: url(../svg/laptop.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.attention-item:nth-child(4)::before {
  display: block;
  content: "";
  height: 120px;
  border: 2px solid grey;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-image: url(../svg/men.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.attention-title {
  font-family: Roboto, sans-serif;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.attention-text {
  padding-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400px;
}
/* .attention-svg {
  background: #f5f4fa;
  width: 265px;
  height: 120px;
}
.attention-cont {
  border: 3px solid grey;
}
.attention-cont:hover {
  border-color: var(--accent-color);
}
/* .attention-svg:hover {
  color: var(--accent-color);
  outline: var(--accent-color);
} */
/* .attention-svg.clock:hover {
  --color2: var(--accent-color);
  --color3: var(--accent-color);
} */
*/
/* 
button:hover {
  color: var(--accent-color);
} */

/*  */
/*  Секция чем мы занимаемся*/
/*  */

.activity-type {
  display: inline-block;
  width: 270px;

  transform: translate(-50%, -50%);
  outline: 1px solid grey;
  background-color: rgba(47, 48, 58, 0.8);
}
.activity-section {
  padding-right: 60px;
  padding-top: 94px;
  padding-bottom: 94px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-aditional);
}

.activity-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}
.activity-list li {
  margin-right: 30px;
}
.activity-list li:last-child {
  margin-right: 0;
}
.activity-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin: 0;
  margin-bottom: 50px;
}
.activity-img {
  display: block;
}
/* .activity-div {
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  outline: 1px solid grey;
  display: flex;
} */
.activity {
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/*  */
/* Наша команда */
/*  */
.team {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: var(--primary-bg-color);
}

.team-list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
}
.team-list li {
  width: 270px;
}
.team-list .item:last-child {
  margin-right: 0;
}
.team-title {
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.teamer {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}
.team-job {
  margin-bottom: 16px;
  margin-top: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*  */
/*  */
.socials-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.socials-links .item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.socials-links .item:not(last-child) {
  margin-right: 10px;
}

.icon-social {
  width: 20px;
  height: 20px;
}

.icon-social:hover {
  --color1: #fff;
}

.socials-links .link {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.socials-links .link:hover {
  background-color: var(--accent-color);
}
/*  */
/*  Постоянные клиенты*/
/*  */
.customers {
  padding-bottom: 94px;
  padding-top: 94px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.customers-title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.customers-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  padding-bottom: 94px;
}
.customers-list li {
  margin-right: 30px;
}
.customers-list li:last-child {
  margin-right: 0;
}
.buttonn {
  display: flex;
  width: 170px;
  height: 90px;
  border: 2px solid grey;
  background: #e5e5e5;
}
.buttonn:hover {
  border-color: var(--accent-color);
}
.buttonn a {
  align-items: center;
  width: 50px;
  height: 50px;
}
.icon {
  width: 44px;
  height: 44px;
}
.blue {
  color: var(--accent-color);
}

.blue:hover,
.blue:focus {
  color: var(--accent-color);
}

footer {
  display: flex;
  background: #2f303a;
}
.container.footer-kont {
  display: flex;
}
.studio-footer {
  color: #ffffff;
}
.develop {
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  margin-left: 400px;
}
.adress-adress {
  color: #ffffff;
}
.team-link {
  text-decoration-line: none;
}
.buttom {
  min-width: 136px;
  text-decoration-line: none;
  color: var(--color-aditional);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: 1px transparent;
}
.buttom:hover,
.buttom:focus {
  background-color: var(--accent-color);
  color: var(--color-aditional);
}
.buttom-primery {
  text-decoration-line: none;
}
.buttom-secondery {
  text-decoration-line: none;
  background-color: var(--accent-color);
  color: var(--color-aditional);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*  */
/*  Футтер*/
/*  */
.container-foot {
  margin: 0;
  padding: 0;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid blue;
  margin-right: auto;
  margin-left: auto;
}
footer {
}
.footer-kont {
  text-decoration-line: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*  */
/*Присоеденяйтесь  */
/*  */
.jon-title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.social-links {
  display: flex;
  margin: 0;
  padding: 0;
}
.social-links li {
  margin-right: 10px;
}
.social-link {
  content: "";
  width: 40px;
  height: 40px;
  display: inline-block;
  background-repeat: no-repeat;
  background-color: grey;
  background-position: center;
  border-radius: 50%;
}
.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.sent-cont p {
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.jon-link {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

/* .develop {
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
} */
.logo-cont {
  display: inline-block;
  width: 250px;
  margin-right: 69px;
  outline: 2px blue;
}

.jon-cont {
  display: inline-block;
  width: 250px;
  margin-right: 94px;
  outline: 2px blue;
  vertical-align: bottom;
  margin-bottom: 40px;
}
.sent-cont {
  display: inline-block;
  width: 250px;
  outline: 2px blue;
  vertical-align: bottom;
  margin-bottom: 70px;
}
